:root {
    --button-1-color: red;
    --button-2-color: green;
    --button-3-color: purple;
    --button-4-color: orange;
    --button-5-color: blue;
    --button-6-color: sienna;
    --verification-correct: green;
    --verification-misplaced: yellow;
    --verification-wrong: red;
}

body {
    background: rgb(139, 202, 253);
}

#title {
    font-size: 3em;
    color: black;
    text-shadow: 2px 2px white;
}

.table-title {
    font-size: 2em;
    color: black;
}

#solution > .round {
    color: black;
}

.round {
    border-radius: 50%;
    font-weight: bold;
    font-size: small;
    border: none;
    width: 5em;
    height: 5em;
    opacity: 70%;
    color: white;
    border: 2px solid black;
}

#controls {
    position: fixed;
    left: 1.3em;
}

#controls button {
    display: block;
    margin-bottom: 1em;
}

#controls > button:hover {
    opacity: 100%;
    transform: scale(1.2);
}

#controls > button:active {
    transform: scale(1.1);
}

#config {
    padding: 0.7em;
    border: 2px solid;
}

#config > label {
    font-size: 1.3em;
}

#config > input {
    height: 1em;
    width: 1em;
}

.verification > .round {
    width: 2em;
    height: 2em;
}

.button-1 {
    background-color: var(--button-1-color);
}

.button-2 {
    background-color: var(--button-2-color);
}

.button-3 {
    background-color: var(--button-3-color);
}

.button-4 {
    background-color: var(--button-4-color);
}

.button-5 {
    background-color: var(--button-5-color);
}

.button-6 {
    background-color: var(--button-6-color);
}

.verification-correct {
    background-color: var(--verification-correct);
}

.verification-misplaced {
    background-color: var(--verification-misplaced);
}

.verification-wrong {
    background-color: var(--verification-wrong);
}